<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ECharts</title>
<!-- 引入 echarts.js -->
<script type="text/javascript" src="../js/echarts.min.js" charset="utf-8"></script>
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	<div id="main" style="width: 300px; height: 200px;"></div>
	<script type="text/javascript" charset="utf-8">
		var dom = document.getElementById("main");
		var myChart = echarts.init(dom);
		var app = {};
		option = null;
		function randomData(i, flag) {
			now2 = new Date(now + oneDay * i);
			value = value + Math.random() * 21 - 10;
			value = Math.round(value);
			value2 = value;
			if (flag != true && i > 50) {
				value2 = null;
			}
			return {
				name : now2.toString(),
				value : [ [ now2.getFullYear(), now2.getMonth() + 1, now2.getDate() ].join('-'), value2 ]
			}
		}

		var data = [];
		var data2 = [];
		var now = +new Date(2016, 3, 16);
		var oneDay = 24 * 3600 * 1000;
		var value = Math.random() * 1000;
		for (var i = 0; i < 100; i++) {
			data.push(randomData(i));
		}

		option = {
			title : {
				text : '动态数据'
			},
			tooltip : {
				trigger : 'axis',
				formatter : function(params) {
					params = params[0];
					var date = new Date(params.name);
					return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
				},
				axisPointer : {
					animation : false
				}
			},
			xAxis : {
				type : 'time',
				splitLine : {
					show : false
				}
			},
			yAxis : {
				type : 'value',
				boundaryGap : [ 0, '100%' ],
				splitLine : {
					show : false
				}
			},
			series : [ {
				name : '模拟数据',
				type : 'line',
				showSymbol : false,
				hoverAnimation : false,
				data : data
			} ]
		};

		count = 50;
		app.timeTicket = setInterval(function() {
			count++;
			rst = randomData(count, true);
			data.splice(count, 1, rst);

			myChart.setOption({
				series : [ {
					data : data
				} ]
			});
		}, 1000);

		if (option && typeof option === "object") {
			var startTime = +new Date();
			myChart.setOption(option, true);
			var endTime = +new Date();
			var updateTime = endTime - startTime;
			console.log("Time used:", updateTime);
		}
	</script>
</body>
</html>