<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ECharts</title>
<!-- 引入 echarts.js -->
<script type="text/javascript" src="../js/echarts.min.js" charset="utf-8"></script>
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	<div id="main" style="width: 600px; height: 400px;"></div>
	<script type="text/javascript" charset="utf-8">
		var dom = document.getElementById("main");
		var myChart = echarts.init(dom);
		var app = {};
		option = null;
		function randomData() {
			now = new Date(+now + oneDay);
			value = value + Math.random() * 21 - 10;
			return {
				name : now.toString(),
				value : [ [ now.getFullYear(), now.getMonth() + 1, now.getDate() ].join('-'), Math.round(value) ]
			}
		}

		function randomData2() {
			now = new Date(+now + oneDay);
			value = value + Math.random() * 21 - 10;
			var rst = Math.round(value);
			if (value % 2 === 0) {
				rst += Math.round(30);
			} else {
				rst -= Math.round(60);
			}
			return {
				name : now.toString(),
				value : [ [ now.getFullYear(), now.getMonth() + 1, now.getDate() ].join('-'), Math.round(value) + rst ]
			}
		}

		var data = [];
		var data2 = [];
		var now = +new Date(1997, 9, 3);
		var oneDay = 24 * 3600 * 1000;
		var value = Math.random() * 1000;
		for (var i = 0; i < 1000; i++) {
			data.push(randomData());
			data2.push(randomData2());
		}

		option = {
			title : {
				text : '动态数据 + 时间坐标轴'
			},
			tooltip : {
				trigger : 'axis',
				formatter : function(params) {
					params = params[0];
					var date = new Date(params.name);
					return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
				},
				axisPointer : {
					animation : false
				}
			},
			xAxis : {
				type : 'time',
				splitLine : {
					show : false
				}
			},
			yAxis : {
				type : 'value',
				boundaryGap : [ 0, '100%' ],
				splitLine : {
					show : false
				}
			},
			series : [ {
				name : '模拟数据',
				type : 'line',
				showSymbol : false,
				hoverAnimation : false,
				data : data
			}, {
				name : '模拟数据2',
				type : 'line',
				showSymbol : false,
				hoverAnimation : false,
				data : data2
			} ]
		};

		app.timeTicket = setInterval(function() {

			for (var i = 0; i < 5; i++) {
				data.shift();
				data2.shift();
				data.push(randomData());
				data2.push(randomData2());
			}

			myChart.setOption({
				series : [ {
					data : data
				}, {
					data : data2
				} ]
			});
		}, 1000);
		;
		if (option && typeof option === "object") {
			var startTime = +new Date();
			myChart.setOption(option, true);
			var endTime = +new Date();
			var updateTime = endTime - startTime;
			console.log("Time used:", updateTime);
		}
	</script>
</body>
</html>