<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<property name="LOG_HOME" value="logs" />

	<!-- Console -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
	<!-- <layout class="ch.qos.logback.classic.PatternLayout"> -->
	<!-- <Pattern>%d{HH:mm:ss} %-5level - [%method] %message%n</Pattern> -->
	<!-- </layout> -->
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d{HH:mm:ss} %-5level - [%thread] - [%method] %message%n</Pattern>
		</encoder>
	</appender>

	<!-- File -->
	<!-- <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
	<!-- <Prudent>true</Prudent> -->
	<!-- <Encoding>UTF-8</Encoding> -->
	<!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
	<!-- <FileNamePattern>${LOG_HOME}/%d{yyyy-MM}/%d{yyyy-MM-dd}.log</FileNamePattern> -->
	<!-- <MaxHistory>31</MaxHistory> -->
	<!-- </rollingPolicy> -->
	<!-- <layout class="ch.qos.logback.classic.PatternLayout"> -->
	<!-- <Pattern>%d{HH:mm:ss} %-5level - [%method] %message%n</Pattern> -->
	<!-- </layout> -->
	<!-- <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
	<!-- <MaxFileSize>1024MB</MaxFileSize> -->
	<!-- </triggeringPolicy> -->
	<!-- </appender> -->

	<!-- File -->
	<appender name="fileAppenderByTime" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d{HH:mm:ss} %-5level - [%thread] - [%method] %message%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/%d{yyyy-MM}/%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>31</MaxHistory>
		</rollingPolicy>
	</appender>

	<!-- File -->
	<appender name="accessAppenderByTime" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d{HH:mm:ss} %-5level - [%thread] %message%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/access/%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>31</MaxHistory>
		</rollingPolicy>
	</appender>

	<!-- File -->
	<!-- <appender name="accessAppenderByTimeAndSize" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
	<!-- <Prudent>true</Prudent> -->
	<!-- <Encoding>UTF-8</Encoding> -->
	<!-- <file>${LOG_HOME}/access/%d{yyyy-MM-dd}.log</file> -->
	<!-- <encoder> -->
	<!-- <Pattern>%d{HH:mm:ss} %-5level - [%method] %message%n</Pattern> -->
	<!-- </encoder> -->
	<!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
	<!-- <FileNamePattern>${LOG_HOME}/access/%d{yyyy-MM-dd}.log.%i</FileNamePattern> -->
	<!-- <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> -->
	<!-- <maxFileSize>1024MB</maxFileSize> -->
	<!-- </timeBasedFileNamingAndTriggeringPolicy> -->
	<!-- </rollingPolicy> -->
	<!-- </appender> -->

	<root level="debug">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppenderByTime" />
	</root>

	<logger name="access" additivity="false" level="debug">
		<!-- <appender-ref ref="consoleAppender" /> -->
		<appender-ref ref="accessAppenderByTime" />
	</logger>

</configuration>