body {
	background-image: -moz-linear-gradient(top, #FFFFF0, #fff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFF0), color-stop(1, #fff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFF0', endColorstr='#fff', GradientType='0'); /* IE*/
}

div {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.margin-top-30px {
	margin-top: 30px;
}

.margin-top-20px {
	margin-top: 20px;
}

.margin-top-10px {
	margin-top: 10px;
}

.margin-left-20px {
	margin-left: 20px;
}

.padding-10px {
	padding: 10px;
}

.padding-2px {
	padding: 2px;
}

.dsul {
	margin: 0;
	padding: 5px;
	list-style: none;
}

.dsli {
	padding: 5px;
	float: left;
	cursor: pointer;
	width: 24%;
}

.dsli:hover {
	background: #e6e6e6;
	color: #00438a;
}

.dsli_sort {
	padding: 5px;
	float: left;
	cursor: move;
	width: 24%;
}

.hand {
	cursor: pointer;
}