<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<property name="LOG_HOME" value="logs" />

	<!-- Console -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss} %-5level - [%method] %message%n</Pattern>
		</layout>
	</appender>

	<!-- File -->
	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- if the thread safety -->
		<Prudent>true</Prudent>
		<!-- set encoding -->
		<Encoding>UTF-8</Encoding>
		<!-- rolling generate strategy -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/%d{yyyy-MM}/%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>31</MaxHistory>
		</rollingPolicy>
		<!-- logfile print layout -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{20} - [%method] %message%n</Pattern> -->
			<Pattern>%d{HH:mm:ss} %-5level - [%method] %message%n</Pattern>
		</layout>
		<!-- logfile maxsize -->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1024MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- File -->
	<appender name="accessAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- if the thread safety -->
		<Prudent>true</Prudent>
		<!-- set encoding -->
		<Encoding>UTF-8</Encoding>
		<!-- rolling generate strategy -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/access/%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>31</MaxHistory>
		</rollingPolicy>
		<!-- logfile print layout -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{20} - [%method] %message%n</Pattern> -->
			<Pattern>%d{HH:mm:ss} %-5level - [%thread] %message%n</Pattern>
		</layout>
		<!-- logfile maxsize -->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1024MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<!-- <logger name="myLogger" additivity="false"> <level value="info" /> <appender-ref ref="fileAppender" /> </logger> -->

	<root level="debug">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</root>

	<logger name="access" additivity="false" level="debug">
		<!-- <appender-ref ref="consoleAppender" /> -->
		<appender-ref ref="accessAppender" />
	</logger>

</configuration>